
h1{
    text-align: center;
}
.contenedor{
    background: rgb(85, 86, 84);
    width: 100%;
    padding: 30px 30px;
    text-align: center;
    position: relative;
    border-radius: 10px;
}
.contenedor h1{
    color: rgb(255, 255, 255);
}
.contenedor h2{
    color: rgb(255, 255, 255);
}

h2{
    color: #CCCCCC;
}

button{
    position: relative;
}

