<h1 class="text-center">Meses del año y dias de la semana</h1>
 <div class="row mx-2 text-center">
    <div class="col">
   
    <span class="row">1.Enero</span>
    <span class="row">2.Febrero</span>
    <span class="row">3.Marzo</span>
    <span class="row">4.Abril</span>
    <span class="row">5.Mayo</span>
    <span class="row">6.Junio</span>
    <span class="row">7.Julio</span>
    <span class="row">8.Agosto</span>
    <span class="row">9.Septiembre</span>
    <span class="row">10.Octubre</span>
    <span class="row">11.Noviembre</span>
    <span class="row">12.Diciembre</span>

    </div>

</div>
<input type="number" class="form-control mt-2" #nuevoMes placeholder="Ingrese mes">



<button class="btn btn-primary mt-2 mb-4" (click)="mes = nuevoMes.value" >
    Aceptar
</button>

<div [ngSwitch]="mes" *ngIf="mes" > <!--Si no tiene nada no aparecera el mesje de valor no valido-->

    <span class="fs-3 text-center row" *ngSwitchCase="1">Enero <app-dia></app-dia> </span>
    <span class="fs-3 text-center row" *ngSwitchCase="2">Febrero <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="3">Marzo <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="4">Abril <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="5">Mayo <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="6">Junio <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="7">Julio <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="8">Agosto <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="9">Septiembre <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="10">Octubre <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="11">Noviembre <app-dia></app-dia></span>
    <span class="fs-3 text-center row" *ngSwitchCase="12">Diciembre <app-dia></app-dia></span>

    <span *ngSwitchDefault> 
        <div class="alert alert-danger mt-4">
            Valor no valido
            </div>
     </span>
</div>

