<input type="number" class="form-control mt-2" #nuevoDia>
<button class="btn btn-primary mt-2 mb-4" (click)="opcion = nuevoDia.value" >
    Aceptar
</button>

<div [ngSwitch]="opcion" *ngIf="opcion" > <!--Si no tiene nada no aparecera el mesje de valor no valido-->
    
    <span *ngSwitchCase="1"><app-contador></app-contador></span>
    <span *ngSwitchCase="2"><app-formulario></app-formulario></span>
    <span *ngSwitchCase="3"><app-meses></app-meses></span>
    <span *ngSwitchCase="4"><app-botones></app-botones></span>

<span *ngSwitchDefault> 
    <div class="alert alert-danger mt-4">
        Valor no valido
        </div>
 </span>

</div>