/* You can add global styles to this file, and also import other style files */
body{
    background: #CCCCCC;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.portada{
    background: #79af6d;
    text-align: center;
    border: solid 8px black;
    border-radius: 8px;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding: 1em;
    margin: 10px;
}

