<input type="text" placeholder="Ingrese su nombres" class="form-control" #nombre> <!--Se puede acceder al input-->
<input type="text" placeholder="Ingrese su apellidos" class="form-control" #apellido> <!--Se puede acceder al input-->
<input type="number" placeholder="Ingrese su edad" class="form-control" #edad> <!--Se puede acceder al input-->
<input type="date" placeholder="Ingrese su fecha de nacimiento" class="form-control" #fecha> <!--Se puede acceder al input-->
<input type="number" placeholder="Ingrese su telefono" class="form-control" #telefono> <!--Se puede acceder al input-->
<input type="email" placeholder="Ingrese su email" class="form-control" #email> <!--Se puede acceder al input-->



<button class="btn btn-primary mt-2" (click)="mostrarEnConsola(nombre.value, apellido.value, edad.value, fecha.value, telefono.value, email.value)">
    Mostrar en consola
</button>

<div class="alert alert-primary mt-4" *ngIf="abrirAlerta"> <!--directiva si Activas y podemos poner las variables ymanejo de funcionamiento, se ponga un mensaje del ng template-->
    <p>Se ha enviado una alerta</p>
    <button class="btn btn-danger" (click)="abrirAlerta=false"> <!--Al momento de dar click cierra el div-->
        X
    </button> 
</div>

